@using System.Data
@model DataTable
<div class="border-primary p-2 w-100">
    <table class="table table-hover table table-bordered  table table-sm ">

        <tr class="table-danger">
            @foreach (DataColumn c in Model.Columns)
            {
                <th scope="col">
                    @c.ColumnName
                </th>
            }
        </tr>

        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @foreach (DataColumn c in Model.Columns)
                {
                    <td> @dr[c.ColumnName] </td>
                }
            </tr>
        }

    </table>
</div>